.no-scroll-x {
	overflow-x:hidden;
}	
.custom-nav {
	width:100%;
	height:17.5mm;
	background:#FDF2E0;
	color:#fff;
	padding:2.5mm;
	
	border-bottom:1px solid #000;
}
.custom-no-padding {
	padding-left:0;
	padding-right:0;
}
.custom-logo {
	height:12mm;
}
.no-italic {
	font-style:normal;
}
.fileview {
	width:100%;
	height:100%;
	overflow-y:auto;
	padding:0;
	margin:0;
	background:#444;
}
.fileview ul {
	width:100%;
	padding:0;
	margin:0;
	background:#444;
}
.fileview li {
	margin-bottom:2px;
	list-style:none;
	margin-top:2px;
}
.fileview li p {
	width:100%;
	height:100%;
	color:#fff;
	padding:5px;
}

.fileview ul {
	padding:0;
} 
.selectable:hover {
	background:#676;
}
.file {
	width:200px;
	height:200px;
	border:1px solid #444;
	text-align:center;
	float:left;
	display:inline-block;
	margin-left:2px;
}
.input-group select {
	min-width: 100px !important;
	border-radius: 5px 0px 0px 5px !important;
	-webkit-appearance: none !important;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
