/* =========================================================
 * Reem v1.0.0
 * =========================================================
 * ========================================================= */

 ol,
 ul {
	 margin-left: 0;
	 margin-bottom: 0;
	 padding-left: 0;
 }

 .col-xs-3 {
	 position: relative;
	 min-height: 0px;
	 padding-right: 0px;
	 padding-left: 0px;
 }
