/* =========================================================
 * Reem v1.0.0
 * =========================================================
 * ========================================================= */



  .list-group-item{
    font-family:arial;
    font-size : 18px;
   }

  .scroll{
  max-height: 400px;
  overflow-y:scroll;
  }
