/*Sidebars*/
.wrapper {
	display:flex;
	align-items:stretch;
	height:100%;
	
}
#sidebar {
	min-width:250px;
	max-width:250px;
	position: relative;

	z-index: 60;
	
}
#sidebar.active {
	margin-left:-250px;
	min-height:100vh;
}
@media (max-width:768px) {
	#sidebar {
		margin-left:250px;
	}
	#sidebar.active {
		margin-left:0px;
	}
}
.full-height {
	max-height:100vh;
	min-heightlg:100vh;
}

.pull-bottom {
	position: relative;
	bottom:0;
	margin:7.5px;
	
}

.navbar-account{
	margin-right:15px;
}

.account-drop{
	color:#777
}

#show-advanced-search {
	color:#777;
	
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: white;
    
    transition: all 0.3s;
	border-right: 1px solid #47748b;
	height:100%;
	box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.19);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}
.italic {
	font-style: italic;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.sidebar-footer {
	position: fixed;
	bottom:0;
	text-align: center;
	padding:0;
	width:100%;
	height:40px;
	background:#88ccee;
	justify-content: flex-end;
    display: flex;
}

.problem {margin-right:auto;margin-left:auto; /*what ever other styles*/}
.enclose {position:fixed;bottom:0px;width:100%;}

/* =========================================================
 * Calle Styles
 * =========================================================
 * ========================================================= */

html, body {
	margin:0;
	height:100%;

}
 
body {
	overflow: hidden;
	height:100%;

}


#info-list{
	width:100%;
	clear:both;
}

.file-info-value {
  list-style-type: none;
  width:100%;
  margin-top:5px;
  margin-bottom:5px;
  
  color: rgba(0,0,0,.54);
}




.left-info-span{
	width:25%;
	margin:0px;
}

.right-info-span{
	color: rgba(0,0,0,.87);
}

#delete-btn{
	float:left;
}

#show-advanced-search a{
	color:blue;
	
}

.caret{
	color:black;
	
}

.fa.padding-left-5 {
	padding-left:0.5em;
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.custom-visible{
	display:none;
	position: absolute;
    left: 100px;
    top: 150px;
}

.custom-visible a{
	display:block;
}

.grey-bg{
	color:#f8f8f8;
}

.no-padding-left{
	padding-left:0px;
}

.breadcrumb-element {
    background-color: #fff;
    height: 15mm;
    width: 100vw;
    margin-left:0px;
	overflow:hidden;
	box-shadow: -5px 0px 15px 1px rgba(0, 0, 0, 0.19);
	
	z-index: 1;
    position: relative;
	
}


.no-max-height{
	max-height:none;
	
	height:100%;
}

.custom-breadcrumb {
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
	height: 90%;
	float:left;
	margin-right:4px;
	padding-left:8px;
	padding-right:8px;
	padding-top:8px;
	padding-bottom:8px;
	background-color:#fff;
	border:1px solid #e7e7e7;
	margin-top:3px;
	padding-top:15px;
	padding-bottom:15px;
}
.no-margin {
	margin:0;
}
.no-padding {
	padding:0;
}
.file-info {
    height: 100%;
    background: #eee;
    margin-top:0px;
	z-index: 0;
	position: relative;
	border-left: 3px solid #e1e1e1;
}

.file-info h3 {
    color:#9C9B9B;
}

.default-font {
    color: #9C9B9B;
}

input#search-box {
    /* css */

}



.custom-breadcrumb span {
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
	float:left;
	text-align:center;
	vertical-align:middle;
	display: inline-block;
	font-size:25px !important;
	line-height: 20px;
	font-family: 'Roboto', sans-serif;
}

.non-root-crumb {
    background-color: #ccc !important;
}

.custom-breadcrumb-base{
	background-color: #ccc;
	margin-right:4px;
	margin-left:-20px;
	float:left;
	border:1px solid #aaa;
	border-left:0;
	padding-top:5px;
	padding-left:5px;
}

breadcrumb-base span{
	opacity:0;	
}
.custom-breadcrumb-edge{
	background-color:#ccc;
	margin-right:5px;
	margin-left:-30px;
	border:1px solid #e7e7e7;
	float:left;
}
.custom-breadcrumb-edge span{
	opacity:0;
}

.custom-base{
	padding-top:8px;
	padding-bottom:8px;
}

.myBtn{
	font-size:10px;
	border-radius:0px;
	
}
.myIcon {
    float: left;
    color:#9C9B9B;
}



.custom-breadcrumb:first-child {
    padding-top: 15px;
    padding-bottom: 15px;
    background:#fff ;
}

.panel-default {
    margin-top:15px
}



/* =========================================================
 * Reem v1.0.0
 * =========================================================
 * ========================================================= */
.list-group-item{
	font-family:arial;
	font-size : 18px;
}

.scroll{
	max-height: 400px;
	overflow-y:scroll;
}
  
  .list-group-submenu{
   padding-left:18px; 
  }

  #show-advanced-search {
	  cursor:pointer;
  }
  
/* =========================================================
* Emil & Peter Styles
* =========================================================
* ========================================================= */
.custom-nav {
    width: 100%;
    background: #fff;
    color: #fff;
    padding: 1.5mm;
    border-bottom: 1px solid white;
	position:relative;
	box-shadow: -5px 0px 15px 1px rgba(0, 0, 0, 0.19);
	z-index:50;
	padding-top: 25px;
}

.custom-no-padding {
    padding-left:0;
    padding-right:0;
}

.custom-logo {
    height:12mm;
}

.no-italic {
    font-style:normal;
}

.fileview {
    width:100%;
    height:100%;
    overflow-y:auto;
    padding:0;
    margin:0;
    background:#444;
}

.fileview ul {
    width:100%;
    padding:0;
    margin:0;
    background:#444;
}

.fileview li {
    margin-bottom:2px;
    list-style:none;
    margin-top:2px;
}

.fileview li p {
    width:100%;
    height:100%;
    color:#fff;
    padding:5px;
}

.fileview ul {
    padding:0;
}

/* =========================================================
* Emil Styles
* =========================================================
* ========================================================= */
.file-block {
    width:200px;
    height:200px;
    border:1px solid #444;
    border-radius:5px;
    text-align:center;
    float:left;
    display:inline-block;
    margin-left:2px;
    margin-top:2px;
}

.file-block:hover {
	background:#ddd;
	cursor:pointer;
}	

.file-list {
    width:100%;
    height:100%;
    overflow-y:auto;
    padding:0;
    margin:0;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.th, td {
    text-align: left;
    padding: 8px;
}





.tr:nth-child(even) {
    background-color: #cda8f2
}

.fixed-height-400 {
	max-height:400px;
}

.auto-scroll-y {
	overflow-y:scroll;
}

.listViewItem {
	margin-top:2px;	
	padding:10px;
	border-bottom: 1px solid #eee;
	cursor:pointer;
}

.listViewItem:hover {
	background:#ddd;
}

/* =========================================================
* Peter Styles
* =========================================================
* ========================================================= */
.no-scroll-x {
	overflow-x:hidden;
}	

.selectable:hover {
	background:#676;
}

.file {
	width:200px;
	height:200px;
	border:1px solid #444;
	text-align:center;
	float:left;
	display:inline-block;
	margin-left:2px;
}

.file-area{
	background-color:#eee;
}

.input-group select {
	min-width: 100px !important;
	border-radius: 5px 0px 0px 5px !important;
	-webkit-appearance: none !important;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
#files-list .row {
	background: #ccc;
	padding:5px;
	margin-top:5px;
}
input.filename {
	margin-top:5px;
}