<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  	<script src="/static/thirdParty/jquery/jquery-3.2.1.min.js"></script>
    <title>Swerea Login Page</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/thirdParty/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
		
			<!-- Custom styles for this template -->
			<link href="/static/css/login.css" rel="stylesheet">			
  </head>

  <body>
    <div class="container-fluid full-height">
    	<section class="row full-height">
            
    	   <section class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 main-section full-height">
            <img class="custom-logo" src="/static/img/smula_logo.png" />
			  <form action="login" method="post">
					<h2 class="form-signin-heading">Please sign in</h2>
                    
					<label for="operatorCode" class="sr-only">Operator Code</label>
					<input type="number" name="code" id="operatorCode" class="form-control input-lg" placeholder="Operator Code" required autofocus>
					<section class="panel panel-warning hidden" id="failedLogin" style="margin-top:5px;">
					<section class="panel-body">
						Code does not match any operator on the system
					</section>
					</section>
					<section class="panel panel-warning hidden" id="errorLogin" style="margin-top:5px;">
					<section class="panel-body">
						There was an error contacting the server
					</section>
					</section>
					<button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top:10px;">Sign in</button>
			  </form>
		  </section>
		<section>
    </div> <!-- /container -->
  </body>
</html>

